@using KalenderTurizm.Entities.Dtos;

@{
    ViewData["Title"] = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<PlaceToVisitDto>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="/css/category.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="container" action="GetList" >
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <a href="/PlaceToVisit/Add" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new Place To Visit</a>
                <tr>

                    <th>Place To Visit Name List</th>

                </tr>
            </thead>

            @foreach (PlaceToVisitDto placeToVisit in Model)
            {
                <tr>
                    <td>@placeToVisit.CategoryId</td>
                    <td>@placeToVisit.TourId</td>
                    <td>@placeToVisit.PlaceToVisitName</td>
                    <td>@placeToVisit.Price</td>
                    <td>@placeToVisit.Description</td>
                    <td>@placeToVisit.TypeOfTransportation</td>
                    <td>@placeToVisit.TourDuration</td>
                    <td>@placeToVisit.Image</td>
                    <td>@placeToVisit.StartingPoint</td>
                    <td>@placeToVisit.Period</td>
                    <td class="text-center"><a class='btn btn-info btn-xs' href="/PlaceToVisit/Update/@placeToVisit.Id"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/PlaceToVisit/Delete/@placeToVisit.Id" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
            }


        </table>
    </div>
</div>

